In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [2]:
%time df=pd.read_table(r'C:\Project\XYZCorp_LendingData.txt',parse_dates=['issue_d'])

<string>:2: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 1min 24s

In [3]:
df1=df.copy()

In [4]:
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
df1.shape

(855969, 73)

In [7]:
df1.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49439
emp_length                          0
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734156
purpose                             0
title                              32
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
                                ...
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint               855527
dti_joint                      855529
verification_status_joint      855527
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
Length: 73, dtype: int64

In [11]:
(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

dti_joint                      99.948596
annual_inc_joint               99.948363
verification_status_joint      99.948363
il_util                        98.643759
mths_since_rcnt_il             98.488964
inq_last_12m                   98.447607
total_bal_il                   98.447607
open_acc_6m                    98.447607
open_il_12m                    98.447607
open_il_24m                    98.447607
open_il_6m                     98.447607
open_rv_12m                    98.447607
total_cu_tl                    98.447607
max_bal_bc                     98.447607
all_util                       98.447607
open_rv_24m                    98.447607
inq_fi                         98.447607
desc                           85.768994
mths_since_last_record         84.674211
mths_since_last_major_derog    75.099682
mths_since_last_delinq         51.381767
next_pymnt_d                   29.553757
tot_coll_amt                    7.863953
tot_cur_bal                     7.863953
total_rev_hi_lim                7.863953
emp_title                       5.775793
last_pymnt_d                    1.035318
revol_util                      0.052105
collections_12_mths_ex_med      0.006542
last_credit_pull_d              0.005841
                                 ...
term                            0.000000
funded_amnt_inv                 0.000000
addr_state                      0.000000
funded_amnt                     0.000000
loan_amnt                       0.000000
member_id                       0.000000
zip_code                        0.000000
total_pymnt                     0.000000
dti                             0.000000
delinq_2yrs                     0.000000
acc_now_delinq                  0.000000
application_type                0.000000
policy_code                     0.000000
last_pymnt_amnt                 0.000000
collection_recovery_fee         0.000000
recoveries                      0.000000
total_rec_late_fee              0.000000
total_rec_int                   0.000000
total_rec_prncp                 0.000000
total_pymnt_inv                 0.000000
out_prncp_inv                   0.000000
out_prncp                       0.000000
initial_list_status             0.000000
total_acc                       0.000000
revol_bal                       0.000000
pub_rec                         0.000000
open_acc                        0.000000
inq_last_6mths                  0.000000
earliest_cr_line                0.000000
id                              0.000000
Length: 73, dtype: float64

In [18]:
df1.dropna(thresh=len(df1)/2,axis =1,inplace=True)

In [19]:
(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

next_pymnt_d                  29.553757
total_rev_hi_lim               7.863953
tot_cur_bal                    7.863953
tot_coll_amt                   7.863953
emp_title                      5.775793
last_pymnt_d                   1.035318
revol_util                     0.052105
collections_12_mths_ex_med     0.006542
last_credit_pull_d             0.005841
title                          0.003738
zip_code                       0.000000
home_ownership                 0.000000
purpose                        0.000000
pymnt_plan                     0.000000
issue_d                        0.000000
verification_status            0.000000
annual_inc                     0.000000
default_ind                    0.000000
grade                          0.000000
emp_length                     0.000000
sub_grade                      0.000000
dti                            0.000000
installment                    0.000000
int_rate                       0.000000
term                           0.000000
funded_amnt_inv                0.000000
funded_amnt                    0.000000
loan_amnt                      0.000000
member_id                      0.000000
addr_state                     0.000000
open_acc                       0.000000
delinq_2yrs                    0.000000
total_rec_prncp                0.000000
acc_now_delinq                 0.000000
application_type               0.000000
policy_code                    0.000000
last_pymnt_amnt                0.000000
collection_recovery_fee        0.000000
recoveries                     0.000000
total_rec_late_fee             0.000000
total_rec_int                  0.000000
total_pymnt_inv                0.000000
earliest_cr_line               0.000000
total_pymnt                    0.000000
out_prncp_inv                  0.000000
out_prncp                      0.000000
initial_list_status            0.000000
total_acc                      0.000000
revol_bal                      0.000000
pub_rec                        0.000000
inq_last_6mths                 0.000000
id                             0.000000
dtype: float64

In [20]:
df1.shape

(855969, 52)

In [21]:
df1.next_pymnt_d.dtype

dtype('O')

In [25]:
df1.dtypes

id                                     int64
member_id                              int64
loan_amnt                            float64
funded_amnt                          float64
funded_amnt_inv                      float64
term                                  object
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_title                             object
emp_length                            object
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
pymnt_plan                            object
purpose                               object
title                                 object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                          float64
earliest_cr_line                      object
inq_last_6mths                       float64
open_acc                             float64
pub_rec                              float64
revol_bal                            float64
revol_util                           float64
total_acc                            float64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
next_pymnt_d                          object
last_credit_pull_d                    object
collections_12_mths_ex_med           float64
policy_code                          float64
application_type                      object
acc_now_delinq                       float64
tot_coll_amt                         float64
tot_cur_bal                          float64
total_rev_hi_lim                     float64
default_ind                            int64
dtype: object

In [30]:
df1.dropna['title',axis=1,inplace=True]

SyntaxError: invalid syntax (<ipython-input-30-483c2883df4d>, line 1)

In [32]:
df1.drop('title',axis=1,inplace=True)

In [33]:
df1.drop('emp_title',axis=1,inplace=True)

(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

In [35]:
df1.drop('next_pymnt_d',axis=1,inplace=True)

In [51]:
(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

tot_cur_bal                   7.863953
tot_coll_amt                  7.863953
total_rev_hi_lim              7.863953
last_pymnt_d                  1.035318
revol_util                    0.052105
collections_12_mths_ex_med    0.006542
last_credit_pull_d            0.005841
default_ind                   0.000000
home_ownership                0.000000
addr_state                    0.000000
zip_code                      0.000000
purpose                       0.000000
pymnt_plan                    0.000000
issue_d                       0.000000
verification_status           0.000000
annual_inc                    0.000000
grade                         0.000000
emp_length                    0.000000
sub_grade                     0.000000
delinq_2yrs                   0.000000
installment                   0.000000
int_rate                      0.000000
term                          0.000000
funded_amnt_inv               0.000000
funded_amnt                   0.000000
loan_amnt                     0.000000
member_id                     0.000000
dti                           0.000000
pub_rec                       0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
acc_now_delinq                0.000000
application_type              0.000000
policy_code                   0.000000
last_pymnt_amnt               0.000000
collection_recovery_fee       0.000000
recoveries                    0.000000
total_rec_late_fee            0.000000
total_rec_int                 0.000000
total_rec_prncp               0.000000
total_pymnt_inv               0.000000
total_pymnt                   0.000000
out_prncp_inv                 0.000000
out_prncp                     0.000000
initial_list_status           0.000000
total_acc                     0.000000
revol_bal                     0.000000
open_acc                      0.000000
id                            0.000000
dtype: float64

In [40]:
#df1['tot_cur_bal','tot_coll_amt','total_rev_hi_lim','lst_pymnt_d','revol_util','collections_12_mths_ex_med',
    'last_credit_pull_d').dtype

SyntaxError: invalid syntax (<ipython-input-40-f8e7f2585756>, line 2)

In [44]:
df1['tot_cur_bal'].dtype

dtype('float64')

In [45]:
df1['tot_coll_amt'].dtype

dtype('float64')

In [47]:
df1['total_rev_hi_lim'].dtype

dtype('float64')

In [48]:
df1['last_pymnt_d'].dtype

dtype('O')

In [49]:
df1['revol_util'].dtype

dtype('float64')

In [50]:
df1['collections_12_mths_ex_med'].dtype

dtype('float64')

In [52]:
df1['last_credit_pull_d'].dtype

dtype('O')

In [55]:
for value in ['tot_cur_bal','tot_coll_amt','total_rev_hi_lim','revol_util','collections_12_mths_ex_med']:
    df1[value].fillna(df1[value].mean(),inplace=True)
df.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49439
emp_length                          0
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734156
purpose                             0
title                              32
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
                                ...
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint               855527
dti_joint                      855529
verification_status_joint      855527
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
Length: 73, dtype: int64

In [56]:
from sklearn import preprocessing
le={}
for x in colname:
    le[x]=preprocessing.LabelEncoder()
for x in colname:
    df1[x]=le[x].fit_transform(df1[x])

NameError: name 'colname' is not defined

In [57]:
(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

last_pymnt_d                  1.035318
last_credit_pull_d            0.005841
default_ind                   0.000000
home_ownership                0.000000
delinq_2yrs                   0.000000
dti                           0.000000
addr_state                    0.000000
zip_code                      0.000000
purpose                       0.000000
pymnt_plan                    0.000000
issue_d                       0.000000
verification_status           0.000000
annual_inc                    0.000000
sub_grade                     0.000000
emp_length                    0.000000
inq_last_6mths                0.000000
grade                         0.000000
installment                   0.000000
int_rate                      0.000000
term                          0.000000
funded_amnt_inv               0.000000
funded_amnt                   0.000000
loan_amnt                     0.000000
member_id                     0.000000
earliest_cr_line              0.000000
pub_rec                       0.000000
open_acc                      0.000000
total_rec_late_fee            0.000000
tot_cur_bal                   0.000000
tot_coll_amt                  0.000000
acc_now_delinq                0.000000
application_type              0.000000
policy_code                   0.000000
collections_12_mths_ex_med    0.000000
last_pymnt_amnt               0.000000
collection_recovery_fee       0.000000
recoveries                    0.000000
total_rec_int                 0.000000
total_rev_hi_lim              0.000000
total_rec_prncp               0.000000
total_pymnt_inv               0.000000
total_pymnt                   0.000000
out_prncp_inv                 0.000000
out_prncp                     0.000000
initial_list_status           0.000000
total_acc                     0.000000
revol_util                    0.000000
revol_bal                     0.000000
id                            0.000000
dtype: float64

In [60]:
df1.last_credit_pull_d.describe()

count       855919
unique         102
top       Jan-2016
freq        701687
Name: last_credit_pull_d, dtype: object

In [61]:
df1.last_credit_pull_d.fillna('Jan-2016', inplace=True)

In [62]:
df1.last_pymnt_d.describe()

count       847107
unique          97
top       Jan-2016
freq        467510
Name: last_pymnt_d, dtype: object

In [63]:
df1.last_pymnt_d.fillna('Jan-2016', inplace=True)

In [64]:
(df1.isnull().sum()/len(df1)*100).sort_values(ascending=False)

default_ind                   0.0
open_acc                      0.0
earliest_cr_line              0.0
delinq_2yrs                   0.0
dti                           0.0
addr_state                    0.0
zip_code                      0.0
purpose                       0.0
pymnt_plan                    0.0
issue_d                       0.0
verification_status           0.0
annual_inc                    0.0
home_ownership                0.0
emp_length                    0.0
sub_grade                     0.0
grade                         0.0
installment                   0.0
int_rate                      0.0
term                          0.0
funded_amnt_inv               0.0
funded_amnt                   0.0
loan_amnt                     0.0
member_id                     0.0
inq_last_6mths                0.0
pub_rec                       0.0
total_rev_hi_lim              0.0
revol_bal                     0.0
tot_cur_bal                   0.0
tot_coll_amt                  0.0
acc_now_delinq                0.0
application_type              0.0
policy_code                   0.0
collections_12_mths_ex_med    0.0
last_credit_pull_d            0.0
last_pymnt_amnt               0.0
last_pymnt_d                  0.0
collection_recovery_fee       0.0
recoveries                    0.0
total_rec_late_fee            0.0
total_rec_int                 0.0
total_rec_prncp               0.0
total_pymnt_inv               0.0
total_pymnt                   0.0
out_prncp_inv                 0.0
out_prncp                     0.0
initial_list_status           0.0
total_acc                     0.0
revol_util                    0.0
id                            0.0
dtype: float64